<mat-card *ngIf="note">
  <mat-card-content>
    <mat-form-field>
      <mat-label> Note: </mat-label>
      <textarea matInput id="note" [(ngModel)]="note.note" placeholder="What are your thoughts..."></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Game: </mat-label>
      <mat-select [(ngModel)]="note.savePointGameId">
        <mat-option *ngFor="let game of games" [value]="game.savePointGameId">
          {{game.gameName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="save()">Save</button>
    <button mat-raised-button (click)="delete()">Delete</button>
  </mat-card-content>
</mat-card>
