<mat-card>
  <mat-form-field>
      <mat-label> Note: </mat-label>
      <textarea matInput id="new-note" #noteNote placeholder="What are your thoughts..."></textarea>
  </mat-form-field>
  <mat-form-field>
      <mat-label> Game: </mat-label>
      <textarea matInput id="new-game" #noteGame placeholder="What game ID are you playing?"></textarea>
  </mat-form-field>
  <button mat-raised-button (click)="addNote(noteNote.value, noteGame.value); noteNote.value=''; noteGame.value='';">Save</button>
</mat-card>
<mat-card *ngFor="let note of notes">
    <mat-card-header>
        <mat-card-title>Note ID: {{note.savePointNoteId}}</mat-card-title>
        <button [class.selected]="note === selectedNote" mat-raised-button (click)="onSelect(note)">View Note</button>
    </mat-card-header>
</mat-card>
<app-note-detail *ngIf="selectedNote" [note]="selectedNote"></app-note-detail>
