<h2>Welcome to SavePoint!</h2>
<div>
    <h2>Currently Playing Games</h2>
    <a *ngFor="let game of games">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{game.gameName}}</mat-card-title>
            </mat-card-header>
            <mat-card-subtitle>
                <mat-card-title>GameID: {{game.savePointGameId}}</mat-card-title>
            </mat-card-subtitle>
            <mat-card-content>
                <p>{{game.gameDescription}}</p>
            </mat-card-content>
        </mat-card>
    </a>
</div>
<div>
    <h2>Notes</h2>
    <a *ngFor="let note of notes">
        <mat-card>
            <mat-card-header>
                <mat-card-title>NoteID: {{note.savePointNoteId}}</mat-card-title>
            </mat-card-header>
            <mat-card-subtitle>
                <!-- TODO: Get the Game name based upon the ID -->
                <mat-card-title>GameID: {{note.savePointGameId}}</mat-card-title>
            </mat-card-subtitle>
            <mat-card-content>
                <p>{{note.note}}</p>
            </mat-card-content>
        </mat-card>
    </a>
</div>
